*{
    margin: 0;
    box-sizing: border-box;
}

/* Background Image */
img {
    max-width: 104%;
}

#background {
    height: 260vh;
    background-image: url("src/paper.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Background Image */


/* Header */
header{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 5% 0 0 0;
}

header h1{
    z-index: 1;
    font-size: calc(50px + 1vw);
    color: black;
    font-weight: bold;
    padding: 0 0 1% 3%;
    font-style: italic;
    font-family: Lucida, Didiot, Andalé Mono, monospace
}

/* Header */

/* Main */

#main-row {
    list-style: none;
    font-weight: bolder;
    font-variant: all-small-caps;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: calc(5px + 1vw);
    font-family: Lucida, Didiot, Andalé Mono, monospace;
    margin: 4% 0 0 0;
    padding: 0 58% 0 0;
}

#main-content {
    position: absolute;
    color: black;
    margin: 10% 20% 0 0;
    padding: 0 0 0 20%;
    font-weight: lighter;
    font-size: calc(12px + 1vw);
    font-family: Lucida, Didiot, Andalé Mono, monospace;
}

main a{
    color: #c90000;
    font-weight: lighter;
    text-decoration: none;
    font-style: italic;
    font-family: Lucida, Didiot, Andalé Mono, monospace
}
/* Main */


    /* Container */
#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    user-select: none;
}
/* Container */

/* Footer */
footer {
    background-color: #c90000;
    font-size: calc(2px + 1vw);
    color: #FFFFFF;
    padding: 1%;
    font-style: italic;
    font-family: Lucida, Didiot, Andalé Mono, monospace;
    display: flex;
    align-items: center;
}

footer a {
    font-size: calc(4px + 1vw);
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    font-family: Lucida, Didiot, Andalé Mono, monospace;
}
/* Footer */