*{
    margin: 0;
    box-sizing: border-box;
}
#container{
    display: flex;
    flex-direction: row;
    width:100%;
    visibility: hidden;
}
.wrapper{
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FFFFFF;
}
header{
    background-color: #88AB8E;
    padding: 2%;
}
.wrapper button{/*check age*/
    padding: .5%;
    margin-top: -4.2%;
    margin-left: 13%;
    position: absolute;
    font-size: calc(2px + 1vw);
    background-color: #F2F1EB;
    color: #24413b;
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
.wrapper input{
    border: 2px solid #AFC8AD;
    padding: .5%;
    margin-top: -4.1%;
    width: 12%;
    position: absolute;
    font-size: calc(2px + 1vw);
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    color: #24413b;
}
.wrapper label{/*how old are you:*/
    position: absolute;
    margin-top: -4%;
    margin-left: -13vw;
    font-size: calc(5px + 1vw);
    color: #F2F1EB;
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}

h3{/*negative number is not acceptable*/
    display: none;
}

h1{/*Leila Garner*/
    text-align: left;
    color: #F2F1EB;
    font-size: calc(20px + 1vw);
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
h4{/*My Online Resume*/
    text-align: left;
    color: #F2F1EB;
    font-size: calc(7px + 1vw);
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
h2{/*Home*/
    color: #24413b;
    padding-top: 2%;
    padding-bottom: 1vw;
    font-size: calc(10px + 1vw);
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
nav{
    width:30%;
    text-align: center;
    background-color: #AFC8AD;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}
nav li{
    display: inline;
    padding: 8%;
    box-sizing: border-box;
    background-color: #EEE7DA;;
    border: 10px solid #AFC8AD;
    font-size: calc(5px + 1vw);
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
img {
    max-width: 34%;
}
nav a{
    text-decoration: none;
    color: #24413b;
}
main{
    width: 70%;
}
div{
    text-align: center;
    background-color: #F2F1EB;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
div p{
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    color: #24413b;
    list-style: none;
    font-size: calc(2px + 1vw);
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
div table{
    padding: 2%;
    margin: auto;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
div table th{
    color: #24413b;
    border: 5px solid #AFC8AD;
    background-color: #EEE7DA;
    margin: auto;
    font-size: calc(2px + 1vw);
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

footer{
    padding-bottom: 1%;
    background-color: #88AB8E;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer p{
    color: #F2F1EB;
    font-size: calc(2px + 1vw);
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
footer a{
    color: #F2F1EB;
    font-size: calc(2px + 1vw);
}

#time-date{
    width: 25%;
    height: .5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: #88AB8E;
    color: #F2F1EB;
    font-size: calc(9px + 1vw);
}


@media screen and (max-width: 750px){
    #container{
        flex-direction: column;
    }
    nav{
        width: 100%;
    }
    nav ul{
        padding-left: 0;
        flex-direction: row;
        list-style: none;
        text-align: center;
        margin: auto;
        font-family: "Playfair Display", "Times New Roman", Georgia, serif;
    }
    nav li{
        display: inline;
        margin: auto;
        padding: 0 4vw;
        box-sizing: border-box;
        border: 4px solid #AFC8AD;
        font-size: calc(2px + 1vw);
    }
    main{
        width:100%;
    }
    h1{/*Leila Garner*/
        text-align: center;
    }
    h4{/*My Online Resume*/
        text-align: center;
    }
    main ul li {
        color: #24413b;
        margin-left: 2%;
        font-size: calc(2px + 1vw);
        font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    }
    .wrapper button{/*check age*/
        margin-top: 1%;
        margin-left: 1%;
        position: relative;
        font-size: calc(2px + 1vw);;
        background-color: #F2F1EB;
        color: #24413b;
        font-family: "Playfair Display", "Times New Roman", Georgia, serif;
    }
    .wrapper input{
        border: 2px solid #AFC8AD;
        position: relative;
        font-size: calc(2px + 1vw);
        font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
        color: #24413b;
    }
    .wrapper label{/*How old are you:*/
        padding-left: 17%;
        position: relative;
        font-size: calc(5px + 1vw);
        color: #F2F1EB;
        font-family: "Playfair Display", "Times New Roman", Georgia, serif;

    }
    #time-date{
        width: 40%;
        height: .5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        background-color: #88AB8E;
        color: #F2F1EB;
        font-size: calc(9px + 1vw);
    }
}