*{
    margin: 0;
    box-sizing: border-box;
}
#container{
    display: flex;
    flex-direction: row;
    width:100%;
}
.wrapper{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FFFFFF;
}
header{
    background-color: #f0b773;
    padding: 2%;
}
h1{/*Leila Garner*/
    text-align: left;
    color: #F2F1EB;
    font-size: calc(20px + 1vw);
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
h4{/*My Online Resume*/
    text-align: left;
    color: #F2F1EB;
    font-size: calc(7px + 1vw);
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
h2{/*experience*/
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1vw;
    font-size: calc(10px + 1vw);
    color: #734917;;
}
main{
    width:70%;
}
nav{
    width:30%;
    text-align: center;
    background-color: #efc99d;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}
nav li{
    display: inline;
    padding: 8%;
    box-sizing: border-box;
    background-color: #EEE7DA;
    border: 10px solid #efc99d;
    font-size: calc(5px + 1vw);
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
nav a{
    text-decoration: none;
    color:  #734917;;
}
div{
    background-color: #F2F1EB;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
div p{/*freelance painter*/
    color:  #734917;;
    margin: 1vw;
    padding-left: 2vw;
    font-size: calc(2px + 1vw);
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
main ul li{
    color:  #734917;;
    margin-left: 5%;
    font-size: calc(2px + 1vw);
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
footer{
    background-color: #f0b773;
}
footer p{
    text-align: center;
    color: #F2F1EB;
    font-size: calc(2px + 1vw);
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
footer a{
    color: #F2F1EB;
    font-size: calc(2px + 1vw);
    font-family: "Playfair Display", "Times New Roman", Georgia, serif;
}
@media screen and (max-width: 750px){
    #container{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    nav{
        width: 100%;
    }
    nav ul{
        padding-left: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        text-align: center;
        margin: auto;
    }
    nav li{
        display: inline;
        margin: auto;
        padding: 0 4vw;
        box-sizing: border-box;
        background-color: #EEE7DA;
        border: 5px solid #efc99d;
        font-size: calc(2px + 1vw);
    }
    nav a{
        text-decoration: none;
        color:  #734917;;
    }
    main{
        width:100%;
    }
    h1{/*Leila Garner*/
        text-align: center;
        color: #F2F1EB;
        font-size: calc(20px + 1vw);
    }
    h4{/*My Online Resume*/
        text-align: center;
        color: #F2F1EB;
        font-size: calc(7px + 1vw);
    }
    main ul li{
        color:  #734917;;
        margin-left: 2%;
        font-size: calc(2px + 1vw);
    }
    footer{
        background-color: #f0b773;
    }
    footer p{
        text-align: center;
        color: #F2F1EB;
        font-size: calc(2px + 1vw);
    }
    footer a{
        color: #F2F1EB;
        font-size: calc(2px + 1vw);
    }
}


