*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FFFFFF;
}
header{
    background-color: #88AB8E;
    padding: 2%;
}
img{
    max-width: 100%;
    padding-bottom: 2%;
}
h1{/*Leila Garner*/
    text-align: center;
    color: #F2F1EB;
    font-size: calc(20px + 1vw);
}
h4{/*My Online Resume*/
    text-align: center;
    color: #F2F1EB;
    font-size: calc(7px + 1vw);
}
h2{/*Home*/
    color: #24413b;
    padding-top: 2%;
    padding-bottom: 1vw;
    font-size: calc(10px + 1vw);
}
nav{
    padding: 0;
    background-color: #F2F1EB;
}
nav ul{
    padding-top: 2%;
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin: auto;
}
nav li{
    display: inline;
    margin: auto;
    padding: 0 4vw;
    box-sizing: border-box;
    background-color: #ebe9df;
    border: 5px solid #AFC8AD;
    font-size: calc(2px + 1vw);
}
nav a{
    text-decoration: none;
    color: #24413b;
}
div{
    text-align: center;
    background-color: #F2F1EB;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
div p{
    padding-left: 10%;
    padding-right: 10%;
    color: #24413b;
    list-style: none;
    font-size: calc(2px + 1vw);
}
div table{
    padding: 2%;
    margin: auto;
}
div table th{
    color: #24413b;
    border: 5px solid #AFC8AD;
    background-color: #EEE7DA;
    margin: auto;
    font-size: calc(2px + 1vw);
}
footer{
    background-color: #88AB8E;
    padding: 1vw;
}
footer p{
    color: #F2F1EB;
    font-size: calc(2px + 1vw);
}
footer a{
    color: #F2F1EB;
    font-size: calc(2px + 1vw);
}