*{
    margin: 0;
    box-sizing: border-box;
}
#container{
    position: relative;
    background-color: black;
    width: 100%;
}
#box1{
    z-index: 4;
    position: absolute;
    background-image: url("src/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 52%;
    height: 55vh;
    width: 25%;
    border: 7px solid white;
    box-shadow: 0 6px rgba(0,0,0,.5);
    margin-top: 14%;
}
#box2{
    z-index: 3;
    background-image: url("src/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 32%;
    margin-top: 20%;
    height: 35vh;
    width: 25%;
    border: 7px solid white;
    box-shadow: 0 6px rgba(0,0,0,.5);
}
#box3{
    z-index: 2;
    background-image: url("src/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 73%;
    height: 35vh;
    width: 25%;
    border: 7px solid white;
    box-shadow: 0 6px rgba(0,0,0,.5);
    margin-top: 10%;
}
#box4 {
    z-index: 1;
    background-image: url("src/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 2%;
    margin-top: 26%;
    height: 37vh;
    width: 32%;
    border: 7px solid white;
    box-shadow: 0 6px rgba(0, 0, 0, .5);
}
#box1:hover {
    z-index: 4;
}
#box1:hover .text {
    opacity: 1;
}
#box2:hover {
    z-index: 4;
}
#box2:hover .text {
    opacity: 1;
}
#box3:hover {
     z-index: 4;
 }
#box3:hover .text {
    opacity: 1;
}
#box4:hover {
     z-index: 4;
 }
#box4:hover .text {
    opacity: 1;
}
.text {
    opacity: 0;
    transition: opacity 2s;
    background-color: rgba(255, 255, 255, .8);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 25%;
    font-family: serif;
    font-size: calc(2px + 3vw);
    color: black;
}