*{
    margin: 0;
}
header{
    background-color: #E6A4B4;
    padding: 15px
}
h1{/*Leila Garner*/
    text-align: center;
    color: #F2F1EB;
}
h4{/*My Online Resume*/
    text-align: center;
    color: #F2F1EB;
}
h2{
    text-align: center;
}
nav{
    padding: 20px;
    background-color: #F2F1EB;
}
nav ul{
    padding-left: 0;
    list-style: none;
    text-align: center;
}
nav li{
    display: inline;
    margin: 5px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F5EEE6;
    border: 6px solid #E7CBCB;
}
nav a{
    text-decoration: none;
    color: #b76d7f;
}
div{
    background-color: #F2F1EB;
    padding-bottom: 15px;
}
div p{/*freelance painter*/
    color: #b76d7f;
    margin-right: 200px;
    margin-left: 200px;
    padding: 10px;
}
div ul{
    color: #b76d7f;
    margin-right: 200px;
    margin-left: 200px;
}
div h2{
    color: #b76d7f;/*experience*/
    padding-bottom: 15px;
}

footer{
    background-color: #E6A4B4;
}
footer p{
    text-align: center;
    color: #F2F1EB;
}
footer a{
    color: #F2F1EB;
}